body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 2;
}

a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial;
}

main {
  display: flex;
  align-items: flex-start;
  flex-grow: 8;
  flex-basis: 70%;
}

aside {
  flex-grow: 1;
  margin-left: 2em;
}

article {
  flex-grow: 6;
  padding-left: 3em;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: flex-start;
  padding-left: 0;
  gap: 10px;
}

li {
  font-family: Arial;
}

h1 {
  font-family: Arial;
}

.testimonial {
  background-color: lightgray;
  font-family: "Times New Roman";
}

blockquote {
  font-style: italic;
}

p {
  font-family: Arial;
}

footer {
  background-color: darkgreen;
  color: white;
  flex-grow: 1;
}

li.side {
  background-color: darkred;
  color: white;
  flex-grow: 1;
}

.brand {
  color: darkred;
  text-transform: uppercase;
  font-family: Arial;
  font-weight: bold;
  font-size: xx-large;
}
